{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Write a text you want to transform!✅</h1>
    <p>{{ form(form) }}</p>
    <br>
    <h3>Here's your message:</h3>
    <br>
    <p>{{ output }}</p>
{#    <br>#}
{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/Users/naama/git/Symfony-intro/dependency-injection/src/Controller/MessageController.php'|file_link(0) }}">src/Controller/MessageController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/Users/naama/git/Symfony-intro/dependency-injection/templates/message/index.html.twig'|file_link(0) }}">templates/message/index.html.twig</a></code></li>#}
{#    </ul>#}
</div>
{% endblock %}
